.App {
  width: 100%;
  height: 600px;
}
.navBar {
  margin: 10px auto 20px auto;
  width: 80%;
  height: 20%;
}
.navBar > nav {
  margin: auto;
  display: flex;
  width: 70%;
  height: 90%;
  gap: 200px;
  justify-content: space-around;
}
.navBar > nav > a {
  text-decoration: none;
  color: rgb(255, 255, 255);
  background-color: rgb(0, 0, 0);
  width: 150px;
  height: 30%;
  text-align: center;
  padding: 10px;
  letter-spacing: 2px;
  font-size: 1.5rem;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  margin: auto;
}

.clockBody {
  margin: auto;
  width: 90%;
  height: 80%;
}
.clock-box {
  width: 90%;
  display: flex;
  justify-content: space-between;
  margin: auto;
  height: 80%;
}

.box {
  display: flex;
  width: 14%;
  height: 100%;
}
.stick {
  width: 10%;
  height: 15px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  position: absolute;
}
#mid {
  border-radius: 30px;
  margin-top: 12%;
}
#bottom {
  transform: rotate(180deg);
  margin-top: 24%;
}
#topleft,
#topright {
  margin-top: 6%;
}
#bottomleft,
#bottomright {
  margin-top: 18%;
}
#topleft,
#bottomleft {
  transform: rotate(270deg);
  margin-left: -5%;
}
#topright,
#bottomright {
  transform: rotate(90deg);
  margin-left: 5%;
}
.colon {
  width: 5%;
  height: 100%;
  color: rgb(255, 255, 255);
  text-align: center;
}
.colon > p {
  position: absolute;
  margin-top: 3%;
  font-size: 9rem;
}
.White {
  background-color: rgb(255, 255, 255);
}
.Black {
  background-color: rgba(0, 0, 0, 0.5);
}
.Red {
  background-color: rgb(255, 0, 0);
}

.classInput {
  width: 80%;
  height: 80%;
  display: flex;
  margin: auto;
  justify-content: space-around;
}
.input {
  height: 45%;
  margin-top: 20%;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="range"] {
  -moz-appearance: textfield;
  appearance: textfield;
}
form > input {
  width: 50px;
  height: 50px;
  border-radius: 5px;
  font-size: 1.5rem;
}
form{
  color: white;
}
form > button:hover {
  transform: scale(1.1);
  transition: all 0.2s ease;
}
form > button {
  cursor: pointer;
  width: fit-content;
  height: fit-content;
  padding: 10px 10px 10px 20px;
  font-size: 1.3rem;
  border-radius: 5px;
}

.noDisplay {
  display: none;
}
.display {
  display: flex;
}
.stopWatchDivision {
  width: 100%;
  height: 100%;
}
.home {
  height: 85%;
}
.buttons {
  margin: 20px auto auto auto;
  height: 15%;
  display: flex;
  width: 30%;
  justify-content: space-around;
}
.buttons > button {
  width: 60px;
  height: 60px;
  font-size: 1rem;
  border-radius: 50%;
  cursor: pointer;
}
.buttons > button:hover {
  transform: scale(1.1);
  transition: all 0.2s ease;
}
#start-btn{
  background-color: rgb(1, 77, 1);
}
#stop-btn{
  background-color: rgb(106, 1, 1);
}
#reset-btn{
  background-color: rgb(132, 73, 1);
}
.bottomLine {
  border-bottom: 2px solid rgb(255, 0, 0);
  border-radius: 0px;
}
@media screen and (max-width: 1200px) {
  .stick {
    height: 15px;
  }
  .colon > p{
    font-size: 9rem;
  }
}
@media screen and (max-width: 1024px) {
  .stick {
    height: 10px;
  }
  .colon > p{
    font-size: 6rem;
  }
  .clockBody{
    height: 50%;
  }
}
@media screen and (max-width: 769px) {
  .stick {
    height: 6px;
  }
  .colon > p{
    font-size: 4rem;
  }
  .navBar > nav > a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
    width: 50px;
    height: 25%;
    text-align: center;
    padding: 5px;
    letter-spacing: 1.5px;
    font-size: 1.2rem;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    margin: auto;
  }
  .navBar {
    margin: 10px auto 20px auto;
    width: 80%;
    height: 20%;
  }
  .navBar > nav {
    margin: auto;
    display: flex;
    width: 60%;
    height: 90%;
    gap: 100px;
    justify-content: space-around;
  }
  .buttons {
    margin: 0 auto auto auto;
    height: 15%;
    display: flex;
    width: 100%;
    justify-content: space-around;
  }
  .clockBody{
    height: 39%;
    
  }
  .buttons > button {
    width: 45px;
    height: 45px;
    font-size: 4px;
    cursor: pointer;
    border-radius: 50%;
  }
}
@media screen and (max-width: 481px) {
  .stick {
    height: 5px;
  }
  .colon > p{
    font-size: 3.3rem;
  }
  .navBar > nav > a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
    width: 100px;
    height: 30%;
    text-align: center;
    padding: 1px;
    letter-spacing: 2px;
    font-size: 1rem;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    margin: auto;
  }
  .navBar > nav {
    margin: auto;
    display: flex;
    width: 60%;
    height: 90%;
    gap: 50px;
    justify-content: space-around;
  }
  .clockBody{
    height: 30%;
  }
  .buttons > button {
    width: 40px;
    height: 40px;
    font-size: 10px;
    border-radius: 5px;
    cursor: pointer;
    border-radius: 50%;
  }
}
