.App {
  display: flex;
  position: relative;
  flex-flow: column;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.9);
}
 
.clock-box {
  width: 90%;
  display: flex;
  justify-content: space-between;
  margin: auto;
  height: 100%;
}
button {
  cursor: pointer;
  border-radius: 10px;
  width: 90px;
  height: 30px;
  padding:0px 10px;
  font-size: 16px;
  text-align: center;
}
.box {
  margin-top: auto;
  display: flex;
  width: 10%;
  height: 195px;
  /* margin: 0px 60px; */
}
.stick {
  margin: auto;
  width: 10%;
  height: 10px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  position: absolute;
}
#mid {
  border-radius: 30px;
  margin-top: 12%;
}
#bottom {
  transform: rotate(180deg);
  margin-top: 24%;
}
#topleft,
#topright {
  margin-top: 6%;
}
#bottomleft,
#bottomright {
  margin-top: 18%;
}
#topleft,
#bottomleft {
  transform: rotate(270deg);
  margin-left: -5%;
}
#topright,
#bottomright {
  transform: rotate(90deg);
  margin-left: 5%;
}
.clock-box > .colon {
  font-size: 2rem;
  margin-top: 12%;
  margin-bottom: auto;
  font-style: normal;
  color: rgb(255, 255, 255);
  transform: scale(4,4);
  text-align: center;
  width: 1%;
  height: 60px;
}
.White {
  background-color: rgb(255, 255, 255);
}
.Black {
  background-color: rgb(0, 0, 0);
}
.Red{
  background-color: red;
}

nav {
  display: flex;
  justify-content: space-evenly;
  gap: 50px;
  scale: 1.1;
  width: 50%;
  height: auto;
  margin: 30px auto;
  /* border: 2px solid red; */
}
nav a{
  text-decoration: none;
  color: rgb(255, 255, 255);
  letter-spacing: 3px;
}
.timer{
  display: flex;
  flex-direction: column;
  width: 100%;
}
.inputTimer{
  width: 100%;
  margin: 20px auto;
  padding: 10px 20px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
input{
  width: 100px;
}
label{
  margin: auto;
}
.sp{
  font-size: 1rem;
}
.buttons{
  width: fit-content;
  height: fit-content;
  margin: 30px auto;
  display: flex;
  justify-content: space-around;
  gap: 50px;
}
#start-btn{
  background-color: green;
}
#stop-btn{
  background-color: red;
}
#reset-btn{
  background-color: orange;
}
#set-btn{
  background-color: skyblue;
  margin: auto;
}
.Timings{
  width: 100%;
  margin: auto;
}
button:hover{
  scale: 1.1;
  transition: all 0.2s;
}
a{
  width: fit-content;
  height: fit-content;
  border-radius: 5px;
  text-align: center;
  padding: 2px 10px;
  font-size: 4vh;
}

a:hover{
  background-color: whitesmoke;
  color: black;
  scale: 1.1;
  transition: all 0.2s;
}
@media screen and (max-width: 720px) {
  .stick{
    height: 5px;
  }
  .clock-box > .colon{
    margin-top: 11%;
    transform: scale(3,3);
  }
  .box{
    height: 160px;
  }
}
@media screen and (max-width: 480px) {
  .stick{
    height: 5px;
  }
  .clock-box > .colon{
    margin-top: 8.5%;
    transform: scale(2,2);
  }
  .box{
    height: 130px;
  }
  a{
    padding: 2px 8px;
  }
}
@media screen and (max-width: 320px) {
  .stick{
    height: 5px;
  }
  .clock-box > .colon{
    margin-top: 5%;
    transform: scale(1,1);
  }
  .box{
    height: 100px;
  }
  a{
    padding: 1px 5px;
  }
}
.classInput{
  height: 150px;
  color: rgb(255, 255, 255);
  font-size: 8px;
  padding: auto;
  margin: auto;
  background-color: rgb(0, 0, 0);
  border-radius: 10px;
}
.input{
  width: fit-content;
  height: fit-content;
  margin: auto;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.input > input{
  border-radius: 5px;
  border: none;
  width: 20px;
  height: 20px;
  text-align: center;
  margin: 20px 2px 20px 20px;
}
#input-btn{
  border-radius: 3px;
  font-size: 10px;
  padding: 5px 10px;
  width: fit-content;
  height: fit-content;
  margin-left: 70px;
  border: none;
}
#input-btn:focus{
  border: none;
}
#input-btn:hover{
  scale: 1.1;
  background-color: black;
  color: white;
  transition: all 0.3s ease-in-out;
}
.display{
  display: flex;
}
.noDisplay{
  display: none;
}
.inputNoDisplay{
  display: none;
}
.inputDisplay{
  display: block;
}